[submodule "Buzz"]
	path = buzz
	url = https://github.com/lajoiepy/Buzz.git
[submodule "robust_distributed_mapper"]
	path = robust_distributed_mapper
	url = https://github.com/lajoiepy/robust_distributed_mapper.git
